//colores
$color-pink-unicorn: pink;
$color-black-kelpie: black;
$color-pink-fairy: #bc537f;
$color-white-dragon: white;
$color-blue-mermaid: #b7dbff;
$color-blue-witch: #5081b2;
//fuentes
$font-search: 'Roboto', sans-serif;
$font-titles: 'Josefin Sans', sans-serif;
