.button {
  font-family: $font-search;
  color: $color-white-dragon;
}

.pageTitle {
  font-family: $font-titles;
  color: $color-pink-fairy;
  font-size: 48px;
}

.paraSearch {
  font-family: $font-search;
  color: $color-black-kelpie;
}

.titleShow {
  font-family: $font-titles;
  font-size: 18px;
}
